html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(48, 51, 54, 1);
}

#map {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.syschinaTitle {
    color: Lavender;
    font-family: sans-serif;
    font-size: 22px;
    letter-spacing: 5px;
}

.sysenglishTitle {
    color: Lavender;
    font-family: Georgia;
    font-size: 12px;
    letter-spacing: 0px;
}

#currentproject {
    text-align-last: left;
    font-family: 'Microsoft YaHei';
    font-size: large;
    width: 600px;
    height: 35px;
    background-color: rgba(48, 51, 54, 0.5);
    font-size: medium;
    color: lightgray;
    border-radius: 10px;
    border-color: rgba(48, 51, 54, 1);
    visibility:hidden
}

/*解决多个数据表格出现列固定无效问题*/
.layui-table-fixed .layui-table-body {
    height: auto !important;
}
.layui-table-fixed.layui-hide {
    display: block !important;
}

/*解决table 固定列后重复问题*/
.layui-table-main table tbody tr td:last-child {
    display: none !important;
}
.shadows {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}
.selectUp .layui-form-select dl {
    top: auto;
    bottom: 36px;
    max-height: 120px;
}

#editautodatatoolid .layui-form-select dl {
    max-height: 120px;
}