<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>地质要素采集项目授权</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--jquery-->
    <script src="../../../Scripts/jquery-3.3.1.js"></script>
    <!--Layui-->
    <link href="../layuiadmin/layui2.5.6/css/layui.css" rel="stylesheet" />
    <link href="../layuiadmin/style/admin.css" rel="stylesheet" />
    <script src="../layuiadmin/layui2.5.6/layui.all.js"></script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body">
                <form class="layui-form" action="" lay-filter="authuserform" style="margin-top:0px;">
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-md9">
                            <div class="grid-demo grid-demo-bg1">
                                <label class="layui-form-label" style="width:120px;">用&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;户</label>
                                <div class="layui-input-block" style="margin-left:170px;">
                                    <select id="geologyusersid" name="users" lay-filter="selectgeologyuser">
                                        <option value="">请选择用户</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="layui-col-md3">
                            <div class="grid-demo" style="position:absolute;right:5px;">
                                <button type="submit" class="layui-btn" lay-submit="" lay-filter="authgeologyusersubmit" style="width:120px;">更新授权</button>
                            </div>
                        </div>
                    </div>

                    <div class="grid-demo" style="margin-top:10px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:120px;">地质要素采集项目</label>
                            <div class="layui-input-block" style="margin-left:170px;height:auto;border:solid;border-color:#e6e6e6;border-width:1px;overflow:auto;max-height:80%;">
                                <div id="geologyprojectid" style="padding:10px;"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        jQuery.support.cors = true;
        var form = layui.form;
        var tree = layui.tree;

        var geologyprojects = [];
        var curuserid = null;

        //渲染监测项目
        tree.render({
            elem: '#geologyprojectid'
            , id: 'geologyprojecttreeid'
            , data: []
            , accordion: true
            , showCheckbox: true
            , showLine: false
            , oncheck: function (obj) {
                if (obj.checked) {
                    for (var i in geologyprojects) {
                        if (geologyprojects[i].id == obj.data.id) {
                            geologyprojects[i].checked = true;
                        }
                    }
                }
                else {
                    for (var i in geologyprojects) {
                        if (geologyprojects[i].id == obj.data.id) {
                            geologyprojects[i].checked = false;
                        }
                    }
                }
            }
        });

        GetFlzrUserInfo();
        GetFlzProjectInfo();

        form.render();
        form.render('select');

        //获取用户信息
        function GetFlzrUserInfo() {
            var loadingminindex = layer.load(0, { shade: 0.3, zIndex: layer.zIndex, success: function (loadlayero) { layer.setTop(loadlayero); } });
            $.ajax({
                url: window.parent.servicesurl + "/api/User/GetFlzUserInfo", type: "get",
                success: function (data) {
                    if (data == "") {
                        layer.msg("无监测用户信息！", { zIndex: layer.zIndex, success: function (layero) { layer.setTop(layero); } });
                        curuserid = null;
                    }
                    else {
                        var userinfodatas = JSON.parse(data);
                        console.log();
                        for (var i in userinfodatas) {
                            document.getElementById('geologyusersid').innerHTML += '<option value="' + userinfodatas[i].Id + '">' + userinfodatas[i].AliasName + ' - ' + userinfodatas[i].UserName + '</option>';
                        }

                        form.render();
                        form.render('select');

                        //切换用户
                        form.on('select(selectgeologyuser)', function (data) {
                            if (data.value == "") {
                                curuserid = null;
                                for (var i in geologyprojects) {
                                    geologyprojects[i].checked = false;
                                }

                                tree.reload('geologyprojecttreeid', {
                                    data: geologyprojects
                                });
                            }
                            else {
                                curuserid = data.value;
                                var loadingminindex = layer.load(0, { shade: 0.3, zIndex: layer.zIndex, success: function (loadlayero) { layer.setTop(loadlayero); } });
                                $.ajax({
                                    url: window.parent.servicesurl + "/api/Flz/GetMapUserFlzProject", type: "get", data: { "id": data.value },
                                    success: function (data) {
                                        if (data == "") {
                                            for (var i in geologyprojects) {
                                                geologyprojects[i].checked = false;
                                            }
                                            tree.reload('geologyprojecttreeid', {
                                                data: geologyprojects
                                            });
                                        }
                                        else {
                                            var mapusergeologyprojectdata = JSON.parse(data);
                                            var usergeologyprojectids = [];
                                            for (var i in mapusergeologyprojectdata) {
                                                usergeologyprojectids.push(mapusergeologyprojectdata[i].UavProjectId);
                                            }

                                            for (var i in geologyprojects) {
                                                if (usergeologyprojectids.indexOf(geologyprojects[i].id) != -1) {
                                                    geologyprojects[i].checked = true;
                                                }
                                                else {
                                                    geologyprojects[i].checked = false;
                                                }
                                            }

                                            tree.reload('geologyprojecttreeid', {
                                                data: geologyprojects
                                            });
                                        }
                                        layer.close(loadingminindex);
                                    }, datatype: "json"
                                });
                            }
                        });
                    }
                    layer.close(loadingminindex);
                }, datatype: "json"
            });
        }

        //获取要素项目信息
        function GetFlzProjectInfo() {
            var loadingminindex = layer.load(0, { shade: 0.3, zIndex: layer.zIndex, success: function (loadlayero) { layer.setTop(loadlayero); } });
            $.ajax({
                url: window.parent.servicesurl + "/api/Flz/GetFlzProjectList", type: "get",
                success: function (data) {
                    geologyprojects = [];
                    if (data == "") {
                        layer.msg("无监测项目信息！", { zIndex: layer.zIndex, success: function (layero) { layer.setTop(layero); } });
                    }
                    else {
                        var geologyprojectdatas = JSON.parse(data);
                        for (var i in geologyprojectdatas) {
                            var geologyproject = new Object;
                            geologyproject.id = geologyprojectdatas[i].Id;
                            geologyproject.title = geologyprojectdatas[i].XMMC;
                            geologyproject.checked = false;
                            geologyprojects.push(geologyproject);
                        }

                        tree.reload('geologyprojecttreeid', {
                            data: geologyprojects
                        });
                    }
                    layer.close(loadingminindex);
                }, datatype: "json"
            });
        }

        //更新授权
        form.on('submit(authgeologyusersubmit)', function (data) {
            if (curuserid == null) {
                layer.msg("请先选择监测用户！", { zIndex: layer.zIndex, success: function (layero) { layer.setTop(layero); } });
            }
            else {
                data.field.userid = curuserid;
                var geologyprojectids = "";
                for (var i = 0; i < geologyprojects.length; i++) {
                    if (geologyprojects[i].checked == true) {
                        geologyprojectids += geologyprojects[i].id + ",";
                    }
                }
                if (geologyprojectids != "") {
                    if ((geologyprojectids.indexOf(",") != -1)) {
                        data.field.geologyprojectids = geologyprojectids.substring(0, geologyprojectids.length - 1);
                    }
                    else {
                        data.field.geologyprojectids = geologyprojectids;
                    }
                }
                var loadingminindex = layer.load(0, { shade: 0.3, zIndex: layer.zIndex, success: function (loadlayero) { layer.setTop(loadlayero); } });

                $.ajax({
                    url: window.parent.servicesurl + "/api/Flz/UpdateMapUserFlzProject", type: "put", data: data.field,
                    success: function (result) {
                        if (result != "") {
                            layer.msg(result, { zIndex: layer.zIndex, success: function (layero) { layer.setTop(layero); } });
                        }
                        layer.close(loadingminindex);
                    }, datatype: "json"
                });
            }

            return false;
        });
    </script>
</body>
</html>