<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户授权</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--jquery-->
    <script src="../../../Scripts/jquery-3.3.1.js"></script>
    <!--Layui-->
    <link href="../layuiadmin/layui2.5.6/css/layui.css" rel="stylesheet" />
    <link href="../layuiadmin/style/admin.css" rel="stylesheet" />
    <script src="../layuiadmin/layui2.5.6/layui.all.js"></script>
    <!--ECharts-->
    <script src="../layuiadmin/lib/echarts.min.js"></script>
    <!--<script src="../../../Scripts/ECharts/echarts.min.js"></script>-->
    <!--CSS样式-->
    <link href="../layuiadmin/style/loginStatistics.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header"><i class="fa fa-warning icon"></i>数据统计</div>
            <div class="layui-card-body">
                <div class="welcome-module">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-xs3">
                            <div class="panel layui-bg-number" style="background-color:#F8F8FF;margin-right:10px;">
                                <div class="panel-body" style="margin:5px 5px;">
                                    <div class="panel-title">
                                        <span class="label layui-bg-red" style="float:right;margin:5px 5px;padding:0px 2px">实时</span>
                                        <h5>总登录次数</h5>
                                    </div>
                                    <div class="panel-content">
                                        <h1 id="count_all" class="no-margins" style="color:red">--</h1>
                                        <small>当前分类总记录数</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs3">
                            <div class="panel layui-bg-number" style="background-color:#F8F8FF;margin-right:10px;">
                                <div class="panel-body" style="margin:5px 5px;">
                                    <div class="panel-title">
                                        <span class="label layui-bg-blue" style="float:right;margin:5px 5px;padding:0px 2px">实时</span>
                                        <h5>本年登录次数</h5>
                                    </div>
                                    <div class="panel-content">
                                        <h1 id="count_year" class="no-margins" style="color:dodgerblue">--</h1>
                                        <small>当前分类总记录数</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs3">
                            <div class="panel layui-bg-number" style="background-color:#F8F8FF;margin-right:10px;">
                                <div class="panel-body" style="margin:5px 5px;">
                                    <div class="panel-title">
                                        <span class="label layui-bg-orange" style="float:right;margin:5px 5px;padding:0px 2px">实时</span>
                                        <h5>本月登录次数</h5>
                                    </div>
                                    <div class="panel-content">
                                        <h1 id="count_month" class="no-margins" style="color:orange">--</h1>
                                        <small>当前分类总记录数</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs3">
                            <div class="panel layui-bg-number" style="background-color:#F8F8FF;margin-right:10px;">
                                <div class="panel-body" style="margin:5px 5px;">
                                    <div class="panel-title">
                                        <span class="label layui-bg-green" style="float:right;margin:5px 5px;padding:0px 2px">实时</span>
                                        <h5>今日登录次数</h5>
                                    </div>
                                    <div class="panel-content">
                                        <h1 id="count_day" class="no-margins" style="color:green">--</h1>
                                        <small>当前分类总记录数</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">报表统计</div>
            <div class="layui-card-body">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-row">
                            <div class="layui-col-md7" style="position:relative">
                                <div id="login_allusersort" style="width: 100%;height:400px;"></div>
                                <div style="position:absolute; top:10px;right:100px;">
                                    <button id="login_topten" type="button" class="layui-btn layui-btn-xs layui-bg-gray "  style="width:100px;height:20px; ">前十名</button>
                                    <button id="login_lastten" type="button" class="layui-btn layui-btn-xs layui-bg-gray" style="width:100px;height:20px;">后十名</button>
                                    <select id="login_year" name="login_year" style="border:1px solid #e6e6e6">
                                        
                                    </select>
                                </div>

                            </div>
                            <div class="layui-col-md5">
                                <div id="login_allcount" style="width: 95%;height:400px;"></div>
                                <div style="position:absolute; top:10px;right:100px;">
                                    <select id="login_month" name="login_month" style="border:1px solid #e6e6e6">
                                        
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
               
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-row">
                            <div class="layui-col-md6">
                                <div class="layui-row">
                                    <div id="login_system_piechart" style="width: 95%;height:300px;"></div>
                                    <div style="position:absolute; top:10px;right:100px;">
                                        <select id="sys_year" name="sys_year" style="border:1px solid #e6e6e6">
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <div id="login_system_linechart" style="width: 95%;height:250px;"></div>
                                </div>
                            </div>
                            <div class="layui-col-md6">
                                <div id="login_allcount" style="width: 95%;height:800px;"></div>
                                <div style="position:absolute; top:10px;right:100px;">
                                    <select id="sys_month" name="year" style="border:1px solid #e6e6e6">
                                        <option value="2022">2022</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery.support.cors = true;
        var now = new Date();
        var year = now.getFullYear(); //得到年份
        var month = now.getMonth()+1;//得到月份
        var day = now.getDate();//得到日期
        var years = [];//年份
        var systemlist = [];//系统类型
        var allcount = null;//总登录次数
        var yearcount = null;;//本年登录次数
        var monthcount = null;;//本月登录次数
        var daycount = null;;//当日登录次数
        
        GetSystemInfo();
        ///
        ///
        ///
        //报表统计
        ///
        //年度
        $.ajax({
            url: window.parent.servicesurl + "/api/LoginUser/GetLoginUserYearInfo", type: "get", data: {},
            success: function (data) {
                if (data == "") {
                    layer.msg("无数据信息！", { zIndex: layer.zIndex, success: function (layero) { layer.setTop(layero); } });
                    databasetable.reload({ id: 'databasetableid', data: [] });
                }
                else {
                    var result = JSON.parse(data);
                    if (result.code == 1) {
                        var databasedatas = JSON.parse(result.data);
                        for (var i in databasedatas) {
                            if (years.indexOf(databasedatas[i].TIMES)==-1) {
                                years.push(databasedatas[i].TIMES);
                            }
                            if (databasedatas[i].TIMES == year) {
                                yearcount += databasedatas[i].COUNT;//头部数据统计当年登录次数
                            }
                            allcount += databasedatas[i].COUNT;//头部数据统计总登录次数

                        }
                        //头部数据统计总登录次数
                        $('#count_all').text(allcount);
                        //头部数据统计当年登录次数
                        $('#count_year').text(yearcount);


                        //
                        if (years.length > 0) {
                            for (var i in years) {
                                if (years[i] == year) {
                                    document.getElementById("login_year").innerHTML += '<option value="' + years[i] + '" selected>' + years[i] + '</option>';
                                }
                                else {
                                    document.getElementById("login_year").innerHTML += '<option value="' + years[i] + '">' + years[i] + '</option>';
                                }
                            }
                        };
                        var yearsdata = [];
                        var yearslabel = [];


                        loginBarChart(year);
                        //监听年份
                        $("#login_year").bind("change", function () {
                            var typeId = $(this).val();
                            loginBarChart(typeId)
                        });
                        //
                        function loginBarChart(time) {
                            yearsdata = [];
                            yearslabel = [];
                            for (var i in databasedatas) {
                                if (databasedatas[i].TIMES == time) {
                                    yearsdata.push(databasedatas[i].COUNT);
                                    yearslabel.push(databasedatas[i].AliasName);
                                }
                            }
                            title = '登录系统次数前十名';
                            LoginAlluserYearCount(title, yearslabel.slice(0, 10), yearsdata.slice(0, 10));
                            //前十名
                            $("#login_topten").on("click", function () {
                                title = '登录系统次数前十名';
                                LoginAlluserYearCount(title, yearslabel.slice(0, 10), yearsdata.slice(0, 10));
                            });
                            //后十名
                            $("#login_lastten").on("click", function () {
                                title = '登录系统次数后十名';
                                LoginAlluserYearCount(title, yearslabel.slice(yearslabel.length - 10, yearslabel.length).reverse(), yearsdata.slice(yearsdata.length - 10, yearsdata.length).reverse());
                            });
                        }


                    }


                }
            }, datatype: "json"
        });
        //月份
        $.ajax({
            url: window.parent.servicesurl + "/api/LoginUser/GetLoginUserMonthInfo", type: "get", data: {},
            success: function (data) {
                if (data == "") {
                    layer.msg("无数据信息！", { zIndex: layer.zIndex, success: function (layero) { layer.setTop(layero); } });
                    databasetable.reload({ id: 'databasetableid', data: [] });
                }
                else {
                    var result = JSON.parse(data);
                    if (result.code == 1) {
                        var databasedatas = JSON.parse(result.data);

                        var monthsdata = [];
                        var monthslabel = [];
                        for (var i in databasedatas) {
                            if (years.indexOf(databasedatas[i].TIMES.substr(0, 4)) == -1) {
                                years.push(databasedatas[i].TIMES.substr(0, 4));
                            }
                            //头部数据统计当月登录次数
                            if (databasedatas[i].TIMES.substr(0, 4) == year && Number(databasedatas[i].TIMES.substr(5, 7)) == month) {
                                monthcount += databasedatas[i].COUNT;//头部数据统计当月登录次数
                            }
                        }
                        //头部数据统计当月登录次数
                        $('#count_month').text(monthcount);


                        //初始化年份SELECT
                        if (years.length > 0) {
                            for (var i in years) {
                                if (years[i] == year) {
                                    document.getElementById("login_month").innerHTML += '<option value="' + years[i] + '" selected>' + years[i] + '</option>';
                                }
                                else {
                                    document.getElementById("login_month").innerHTML += '<option value="' + years[i] + '">' + years[i] + '</option>';
                                }
                            }
                        };

                        for (var i in databasedatas) {
                            if (databasedatas[i].TIMES.substr(0, 4) == year) {
                                monthsdata.push(databasedatas[i].COUNT);
                                var time = databasedatas[i].TIMES.substr(5, 7) + '月'
                                monthslabel.push(time);
                            }
                        }
                        LoginAllMonthCount(monthslabel, monthsdata);

                        $("#login_month").bind("change", function () {
                            var typeId = $(this).val();
                            monthsdata = [];
                            monthslabel = [];
                            for (var i in databasedatas) {
                                if (databasedatas[i].TIMES.substr(0, 4) == typeId) {
                                    monthsdata.push(databasedatas[i].COUNT);
                                    var time = databasedatas[i].TIMES.substr(5, 7) + '月'
                                    monthslabel.push(time);
                                }
                            }

                            LoginAllMonthCount(monthslabel, monthsdata);
                        });

                    }


                }
            }, datatype: "json"
        });
        //分系统月份
        $.ajax({
            url: window.parent.servicesurl + "/api/LoginUser/GetLoginSysMonthInfo", type: "get", data: {},
            success: function (data) {
                if (data == "") {
                    layer.msg("无数据信息！", { zIndex: layer.zIndex, success: function (layero) { layer.setTop(layero); } });
                    databasetable.reload({ id: 'databasetableid', data: [] });
                }
                else {
                    var result = JSON.parse(data);
                    if (result.code == 1) {
                        var databasedatas = JSON.parse(result.data);
                        var sysMonthPieDatas = [];//饼状图数据
                        var sysMonthLineDatas = [];//折线图数据

                        for (var i in databasedatas) {
                            if (years.indexOf(databasedatas[i].TIMES.substr(0, 4)) == -1) {
                                years.push(databasedatas[i].TIMES.substr(0, 4));
                            }
                        }
                        //初始化年份SELECT
                        if (years.length > 0) {
                            for (var i in years) {
                                if (years[i] == year) {
                                    document.getElementById("sys_year").innerHTML += '<option value="' + years[i] + '" selected>' + years[i] + '</option>';
                                }
                                else {
                                    document.getElementById("sys_year").innerHTML += '<option value="' + years[i] + '">' + years[i] + '</option>';
                                }
                            }
                        };
                        
                        sysPieChar(year);
                        sysLineChar(year);

                        //监听年份（SELECT）
                        $("#sys_year").bind("change", function () {
                            var time = $(this).val();
                            sysPieChar(time);
                            sysLineChar(time);
                        });
                        
                        //各系统年百分比
                        function sysPieChar(time) {
                            sysMonthPieDatas = [];
                            for (var i in systemlist) {
                                var piedata = new Object;
                                var data = null;
                                for (var j in databasedatas) {
                                    if (systemlist[i].syscode == databasedatas[j].SYSCODE) {
                                        if (databasedatas[j].TIMES.substr(0, 4) == time) {
                                            data = databasedatas[j].COUNT + data;
                                        }
                                    }
                                }
                                piedata.value = data;
                                piedata.name = systemlist[i].sysalias
                                sysMonthPieDatas.push(piedata);
                            }
                            SystemPieChart(sysMonthPieDatas);
                        }
                        
                        //各系统年月登录次数
                        function sysLineChar(time) {
                            sysMonthLineDatas = [];
                            var syslabel = [];
                            var YMtime = "";
                            for (var i in systemlist) {
                                var Linedata = new Object;
                                var datas = [];
                                for (var k = 1; k <= 12; k++) {
                                    if (k < 10) {
                                        YMtime = String(time) + "-0" + String(k);
                                    }
                                    else {
                                        YMtime = String(time) + "-" + String(k);
                                    }
                                    for (var j in databasedatas) {
                                        if (systemlist[i].syscode == databasedatas[j].SYSCODE) {
                                            if (YMtime == databasedatas[j].TIMES) {
                                                datas[k-1]=databasedatas[j].COUNT

                                            }

                                        }
                                    }

                                }

                                syslabel.push(systemlist[i].sysalias);
                                Linedata.data = datas;
                                Linedata.name = systemlist[i].sysalias
                                sysMonthLineDatas.push(Linedata);


                            }
                            SystemLineChart(syslabel, sysMonthLineDatas);
                        }
                    }


                }
            }, datatype: "json"
        });
        
        //年前十、后十，柱状图
        function LoginAlluserYearCount(title,lables, datas) {

            var chartDom = document.getElementById('login_allusersort');
            var myChart = echarts.init(chartDom);
           
            var option;

            option = {
                title: {
                    text: title
                },
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    data: lables
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: '次数',
                        data: datas,
                        type: 'bar'
                    }
                ]
            };

            option && myChart.setOption(option);

        }

        //年登录系统堆积面积图
        function LoginAllMonthCount(lables, datas) {
            
            var chartDom = document.getElementById('login_allcount');
            var myChart = echarts.init(chartDom);
            var option;
            
            option = {
                color: ['#1E90FF'],
                title: {
                    text: '各月份登录系统次数'
                },
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: lables
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: '次数',
                        type: 'line',
                        smooth: true,
                        data: datas
                    }
                ]
            };
            
            option && myChart.setOption(option);
        }

        //各系统统计饼状图
        function SystemPieChart(datas) {
            var chartDom = document.getElementById('login_system_piechart');
            var myChart = echarts.init(chartDom);
            var option;
            
            option = {
                title: {
                    text: '分系统登录次数百分比',
                    subtext: 'Fake Data',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left'
                },
                series: [
                    {
                        type: 'pie',
                        radius: '50%',
                        data: datas
                        ,
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            option && myChart.setOption(option);
        }

        //各系统统计折线图
        function SystemLineChart(labels,datas) {
            var chartDom = document.getElementById('login_system_linechart');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
                
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: labels
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['01月', '02月', '03月', '04月', '05月', '06月', '07月', '08月', '09月', '10月', '11月', '12月']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: datas[0].name,
                        type: 'line',
                        data: datas[0].data
                    },
                    {
                        name: datas[1].name,
                        type: 'line',
                        data: datas[1].data
                    },
                    {
                        name: datas[2].name,
                        type: 'line',
                        data: datas[2].data
                    },
                    {
                        name: datas[3].name,
                        type: 'line',
                        data: datas[3].data
                    },
                    {
                        name: datas[4].name,
                        type: 'line',
                        data: datas[4].data
                    },
                    {
                        name: datas[5].name,
                        type: 'line',
                        data: datas[5].data
                    },
                    {
                        name: datas[6].name,
                        type: 'line',
                        data: datas[6].data
                    }
                ]
            };

            option && myChart.setOption(option);
        }

        //
        //获取系统列表
        function GetSystemInfo() {
            systemlist = [];
            $.ajax({
                url: window.parent.servicesurl + "/api/Role/GetSystems", type: "get",
                success: function (data) {
                    systemlist = [];
                    var sysinfos = JSON.parse(data);
                    for (var i in sysinfos) {
                        var sys = new Object;
                        sys.id = sysinfos[i].Id;
                        sys.sysname = sysinfos[i].SysName;
                        sys.sysalias = sysinfos[i].SysAlias;
                        sys.syscode = sysinfos[i].SysCode;
                        systemlist.push(sys);
                    }
                }, datatype: "json"
            });
        }

        ///
        ///
        ///
        ///数据统计
        ///
        

        $.ajax({
            url: window.parent.servicesurl + "/api/LoginUser/GetLoginUserDayInfo", type: "get", data: {},
            success: function (data) {
                if (data == "") {
                    layer.msg("无数据信息！", { zIndex: layer.zIndex, success: function (layero) { layer.setTop(layero); } });
                    databasetable.reload({ id: 'databasetableid', data: [] });
                }
                else {
                    var result = JSON.parse(data);
                    if (result.code == 1) {
                        var databasedatas = JSON.parse(result.data);


                    }


                }
            }, datatype: "json"
        });



    </script>
</body>
</html>
