<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户授权</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--jquery-->
    <script src="../../../Scripts/jquery-3.3.1.js"></script>
    <!--Layui-->
    <link href="../layuiadmin/layui2.5.6/css/layui.css" rel="stylesheet" media="all" />
    <link href="../layuiadmin/style/admin.css" rel="stylesheet" />
    <script src="../layuiadmin/layui2.5.6/layui.all.js"></script>
    <!--ECharts-->
    <script src="../layuiadmin/lib/echarts.min.js"></script>
    <!--<script src="../../../Scripts/ECharts/echarts.min.js"></script>-->
    <!--CSS样式-->
    <link href="../layuiadmin/style/loginStatistics.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header"><i class="fa fa-warning icon"></i>数据统计</div>
            <div class="layui-card-body">
                <div class="welcome-module">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-xs3">
                            <div class="panel layui-bg-number" style="background-color:#F8F8FF;margin-right:10px;">
                                <div class="panel-body" style="margin:5px 5px;">
                                    <div class="panel-title">
                                        <span class="label layui-bg-red" style="float:right;margin:5px 5px;padding:0px 2px">实时</span>
                                        <h5>总登录次数</h5>
                                    </div>
                                    <div class="panel-content">
                                        <h1 id="count_all" class="no-margins" style="color:red">--</h1>
                                        <small>当前分类总记录数</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs3">
                            <div class="panel layui-bg-number" style="background-color:#F8F8FF;margin-right:10px;">
                                <div class="panel-body" style="margin:5px 5px;">
                                    <div class="panel-title">
                                        <span class="label layui-bg-blue" style="float:right;margin:5px 5px;padding:0px 2px">实时</span>
                                        <h5>本年登录次数</h5>
                                    </div>
                                    <div class="panel-content">
                                        <h1 id="count_year" class="no-margins" style="color:dodgerblue">--</h1>
                                        <small>当前分类总记录数</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs3">
                            <div class="panel layui-bg-number" style="background-color:#F8F8FF;margin-right:10px;">
                                <div class="panel-body" style="margin:5px 5px;">
                                    <div class="panel-title">
                                        <span class="label layui-bg-orange" style="float:right;margin:5px 5px;padding:0px 2px">实时</span>
                                        <h5>本月登录次数</h5>
                                    </div>
                                    <div class="panel-content">
                                        <h1 id="count_month" class="no-margins" style="color:orange">--</h1>
                                        <small>当前分类总记录数</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs3">
                            <div class="panel layui-bg-number" style="background-color:#F8F8FF;margin-right:10px;">
                                <div class="panel-body" style="margin:5px 5px;">
                                    <div class="panel-title">
                                        <span class="label layui-bg-green" style="float:right;margin:5px 5px;padding:0px 2px">实时</span>
                                        <h5>今日登录次数</h5>
                                    </div>
                                    <div class="panel-content">
                                        <h1 id="count_day" class="no-margins" style="color:green">--</h1>
                                        <small>当前分类总记录数</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header layui-font-24">
            报表统计
            </div>
            <div class="layui-card-body">
                <div class="layui-card">
                    <div class="layui-card-header layui-font-12" style="border-bottom:2px solid #a7a9a9;margin-top:-20px">系统报表</div>
                    <div class="layui-card-body">
                        <div class="layui-row">
                            <div class="layui-col-md6" style="position:relative">
                                <div id="login_allusersort" style="width: 100%;height:400px;"></div>
                                <div style="position:absolute; top:10px;right:100px;">
                                    <button id="login_topten" type="button" class="layui-btn layui-btn-xs layui-bg-gray " style="width:100px;height:20px; ">前十名</button>
                                    <button id="login_lastten" type="button" class="layui-btn layui-btn-xs layui-bg-gray" style="width:100px;height:20px;">后十名</button>
                                    <select id="login_year" name="login_year" style="border:1px solid #e6e6e6"></select>
                                </div>

                            </div>
                            <div class="layui-col-md6">
                                <div id="login_allcount" style="width: 95%;height:400px;"></div>
                                <div style="position:absolute; top:10px;right:100px;">
                                    <select id="login_month" name="login_month" style="border:1px solid #e6e6e6"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header layui-font-12" style="border-bottom:2px solid #a7a9a9">分系统报表</div>
                    <div class="layui-card-body">
                        <div class="layui-row">
                            <div class="layui-col-md6">
                                <div class="layui-row">
                                    <div id="login_sys_pieyear" style="width: 95%;height:300px;"></div>
                                    <div style="position:absolute; top:10px;right:100px;">
                                        <select id="sys_year" name="sys_year" style="border:1px solid #e6e6e6"></select>
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <div id="login_sys_linemonth" style="width: 95%;height:400px;"></div>
                                </div>
                            </div>
                            <div class="layui-col-md6">
                                <div class="layui-row">
                                    <div id="login_sys_topbaryear" style="width: 95%;height:300px;"></div>
                                    <div style="position:absolute; top:10px;right:100px;">
                                        <select id="sys_name" name="sys_name" style="border:1px solid #e6e6e6"></select>
                                    </div>
                                </div>
                                <div class="layui-row" style="position:relative">
                                    <div id="login_sys_lastbaryear" style="width: 95%;height:400px;"></div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header layui-font-12" style="border-bottom:2px solid #a7a9a9">用户报表</div>
                    <div class="layui-card-body">
                        <div class="layui-row" style="position:relative;margin-top:20px;">
                            <div class="layui-col-md6">
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-xs3">
                                        <div class="panel layui-bg-number" style="background-color:#F8F8FF;margin-right:10px;">
                                            <div class="panel-body" style="margin:5px 5px;">
                                                <div class="panel-title">
                                                    <span class="label layui-bg-red" style="float:right;margin:5px 5px;padding:0px 2px">实时</span>
                                                    <h5>总登录次数</h5>
                                                </div>
                                                <div class="panel-content">
                                                    <h1 id="user_all" class="no-margins" style="color:red">--</h1>
                                                    <small>当前分类总记录数</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs3" >
                                        <div class="panel layui-bg-number" style="background-color:#F8F8FF;margin-right:10px;">
                                            <div class="panel-body" style="margin:5px 5px;">
                                                <div class="panel-title">
                                                    <span class="label layui-bg-blue" style="float:right;margin:5px 5px;padding:0px 2px">实时</span>
                                                    <h5>本年登录次数</h5>
                                                </div>
                                                <div class="panel-content">
                                                    <h1 id="user_year" class="no-margins" style="color:dodgerblue">--</h1>
                                                    <small>当前分类总记录数</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs3" >
                                        <div class="panel layui-bg-number" style="background-color:#F8F8FF;margin-right:10px;">
                                            <div class="panel-body" style="margin:5px 5px;">
                                                <div class="panel-title">
                                                    <span class="label layui-bg-orange" style="float:right;margin:5px 5px;padding:0px 2px">实时</span>
                                                    <h5>本月登录次数</h5>
                                                </div>
                                                <div class="panel-content">
                                                    <h1 id="user_month" class="no-margins" style="color:orange">--</h1>
                                                    <small>当前分类总记录数</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs3">
                                        <div class="panel layui-bg-number" style="background-color:#F8F8FF;margin-right:10px;">
                                            <div class="panel-body" style="margin:5px 5px;">
                                                <div class="panel-title">
                                                    <span class="label layui-bg-green" style="float:right;margin:5px 5px;padding:0px 2px">实时</span>
                                                    <h5>今日登录次数</h5>
                                                </div>
                                                <div class="panel-content">
                                                    <h1 id="user_day" class="no-margins" style="color:green">--</h1>
                                                    <small>当前分类总记录数</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="layui-row">
                                    <div id="user_days" style="width: 95%;height:350px;"></div>
                                </div>
                            </div>
                            <div class="layui-col-md6" style="margin-top:30px;">
                                <div id="user_system" style="width: 95%;height:400px;"></div>
                            </div>
                        </div>
                        <div style="position:absolute; top:10px;right:50px;">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">用户名称</label>
                                    <div class="layui-input-block">
                                        <select id="usernameid" name="username" lay-filter="test" lay-verify="required"  lay-search="">
                                            <option value="">直接选择或搜索选择</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script>
        jQuery.support.cors = true;
        var form = layui.form;
        Date.prototype.Format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "H+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
        var date = new Date().Format("yyyy-MM-dd");
        var years = [];//年份
        var systemlist = [];//系统类型
        var allcount = null;//总登录次数
        var yearcount = null;;//本年登录次数
        var monthcount = null;;//本月登录次数
        var daycount = null;;//当日登录次数
        var usernames = [];//所用用户名称
        form.render();
        GetSystemInfo();//获取系统类型
        ///
        ///
        ///数据统计
        ///
        //系统日分组(头部数据统计日登录次数)
        $.ajax({
            url: window.parent.servicesurl + "/api/LoginUser/GetLoginUserDayInfo", type: "get", data: {},
            success: function (data) {
                if (data == "") {
                    layer.msg("无数据信息！", { zIndex: layer.zIndex, success: function (layero) { layer.setTop(layero); } });

                }
                else {
                    var result = JSON.parse(data);
                    if (result.code == 1) {
                        var databasedatas = JSON.parse(result.data);
                        daycount = null;;//当日登录次数
                        for (var i in databasedatas) {
                            if (databasedatas[i].TIME.substr(0, 10) == date) {
                                daycount += databasedatas[i].COUNT;//日
                            }

                        }
                        //头部数据统计日总登录次数
                        $('#count_day').text(daycount);
                    }
                }
            }, datatype: "json"
        });
        //月分组
        $.ajax({
            url: window.parent.servicesurl + "/api/LoginUser/GetLoginUserMonthInfo", type: "get", data: {},
            success: function (data) {
                if (data == "") {
                    layer.msg("无数据信息！", { zIndex: layer.zIndex, success: function (layero) { layer.setTop(layero); } });

                }
                else {
                    var result = JSON.parse(data);
                    if (result.code == 1) {
                        var databasedatas = JSON.parse(result.data);
                        monthcount = null;;//本月登录次数
                        var times = [];
                        for (var i in databasedatas) {
                            allcount += databasedatas[i].COUNT;//all
                            if (databasedatas[i].TIME.substr(0, 7) == date.substr(0, 7)) {
                                monthcount += databasedatas[i].COUNT;//月
                            }
                            
                        }
                        //头部数据统计
                        $('#count_month').text(monthcount);
                        $('#count_year').text(yearcount);
                        $('#count_all').text(allcount);


                        //初始化年份SELECT
                        if (years.length > 0) {
                            for (var i in years) {
                                if (years[i] == date.substr(0, 4)) {
                                    document.getElementById("login_month").innerHTML += '<option value="' + years[i] + '" selected>' + years[i] + '</option>';
                                }
                                else {
                                    document.getElementById("login_month").innerHTML += '<option value="' + years[i] + '">' + years[i] + '</option>';
                                }
                            }
                        };
                        loginLineChart(date.substr(0, 4));//系统折线图
                        sysLineChar(date.substr(0, 4));//分系统折线图
                        $("#login_month").bind("change", function () {
                            var typeId = $(this).val();
                            loginLineChart(typeId);
                        });
                        $("#sys_year").bind("change", function () {
                            var typeId = $(this).val();
                            sysLineChar(typeId);
                        });
                        //系统年际变化折线图
                        function loginLineChart(time) {
                            var monthsdata = [];
                            var YMtime = "";
                           
                            for (var k = 1; k <= 12; k++) {
                                if (k < 10) {
                                    YMtime = String(time) + "-0" + String(k);
                                }
                                else {
                                    YMtime = String(time) + "-" + String(k);
                                }
                                var data = null;
                                for (var j in databasedatas) {
                                    if (databasedatas[j].TIME == YMtime) {
                                        data += databasedatas[j].COUNT;
                                    }
                                }
                                monthsdata[k - 1] = data;
                                
                            }
                            
                            LoginAllMonthCount(monthsdata);
                        }
                        //各系统年际变化折线图
                        function sysLineChar(time) {
                            sysMonthLineDatas = [];
                            var sysMonthLineLabel = [];
                            var YMtime = "";
                            for (var i in systemlist) {
                                var Linedata = new Object;
                                var datas = [];
                                for (var k = 1; k <= 12; k++) {
                                    if (k < 10) {
                                        YMtime = String(time) + "-0" + String(k);
                                    }
                                    else {
                                        YMtime = String(time) + "-" + String(k);
                                    }
                                    var data = null;
                                    for (var j in databasedatas) {
                                        if (systemlist[i].syscode == databasedatas[j].SYSCODE) {
                                            if (YMtime == databasedatas[j].TIME) {
                                                data += databasedatas[j].COUNT

                                            }

                                        }
                                    }
                                    datas[k - 1] = data;
                                }

                                sysMonthLineLabel.push(systemlist[i].sysalias);
                                Linedata.data = datas;
                                Linedata.name = systemlist[i].sysalias
                                sysMonthLineDatas.push(Linedata);


                            }
                            SystemLineChart(sysMonthLineLabel, sysMonthLineDatas);
                        }
                        
                    }
                }
            }, datatype: "json"
        });
        //年分组
        $.ajax({
            url: window.parent.servicesurl + "/api/LoginUser/GetLoginUserYearInfo", type: "get", data: {},
            success: function (data) {
                if (data == "") {
                    layer.msg("无数据信息！", { zIndex: layer.zIndex, success: function (layero) { layer.setTop(layero); } });

                }
                else {
                    var result = JSON.parse(data);
                    if (result.code == 1) {
                        var databasedatas = JSON.parse(result.data);
                        allcount = null;//总登录次数
                        yearcount = null;;//本年登录次数
                        var userIds = [];
                        var times = [];
                        for (var i in databasedatas) {
                            allcount += databasedatas[i].COUNT;//all
                            if (databasedatas[i].TIME.substr(0, 4) == date.substr(0, 4)) {
                                yearcount += databasedatas[i].COUNT;//年
                            }
                            if (years.indexOf(databasedatas[i].TIME) == -1) {
                                years.push(databasedatas[i].TIME);//获取年份
                            }
                            if (userIds.indexOf(databasedatas[i].UserId) == -1) {
                                userIds.push(databasedatas[i].UserId);
                                var user = new Object;
                                user.userid = databasedatas[i].UserId;
                                user.username = databasedatas[i].AliasName;
                                usernames.push(user);//获取用户名
                            }

                        }
                        //头部数据统计
                        $('#count_year').text(yearcount);
                        $('#count_all').text(allcount);
                        
                        //
                        if (years.length > 0) {
                            for (var i in years) {
                                if (years[i] == date.substr(0, 4)) {
                                    document.getElementById("login_year").innerHTML += '<option value="' + years[i] + '" selected>' + years[i] + '</option>';
                                    document.getElementById("sys_year").innerHTML += '<option value="' + years[i] + '" selected>' + years[i] + '</option>';
                                }
                                else {
                                    document.getElementById("login_year").innerHTML += '<option value="' + years[i] + '">' + years[i] + '</option>';
                                    document.getElementById("sys_year").innerHTML += '<option value="' + years[i] + '">' + years[i] + '</option>';
                                }
                            }
                        };
                        //
                        if (systemlist.length > 0) {
                            for (var i in systemlist) {
                                if (systemlist[i].sysalias == "Monitor") {
                                    var monitor = systemlist[i].syscode;
                                    document.getElementById("sys_name").innerHTML += '<option value="' + systemlist[i].syscode + '" selected>' + systemlist[i].sysalias + '</option>';
                                }
                                else {
                                    document.getElementById("sys_name").innerHTML += '<option value="' + systemlist[i].syscode + '">' + systemlist[i].sysalias + '</option>';
                                }
                            }
                        };
                        //
                        if (usernames.length > 0) {
                            for (var i in usernames) {
                                document.getElementById("usernameid").innerHTML += '<option value="' + usernames[i].userid + '">' + usernames[i].username + '</option>';
                                
                            }
                        };
                       
                        form.render('select');

                        loginBarChart(date.substr(0, 4));//系统柱状图
                        sysPieChar(date.substr(0, 4));//分系统饼状图
                        sysBarChart(date.substr(0, 4), monitor);
                        //监听系统年份
                        $("#login_year").bind("change", function () {
                            var typeId = $(this).val();
                            loginBarChart(typeId);
                        });
                        //监听分系统年份
                        $("#sys_year").bind("change", function () {
                            var typeId = $(this).val();
                            sysPieChar(typeId);
                            var sys_code=$("#sys_name").val();
                            sysBarChart(typeId, sys_code);
                        });
                        //监听分系统名称
                        $("#sys_name").bind("change", function () {
                            var sys_code = $(this).val();
                            var time = $("#sys_year").val();
                            sysBarChart(time, sys_code);
                        });
                        //
                        //系统前十名、后十名柱状图
                        function loginBarChart(time) {
                            var yearsdata = [];
                            var yearslabel = [];
                            var userids = [];
                            var datas = [];
                            for (var i in databasedatas) {
                                if (databasedatas[i].TIME == time) {
                                    if (userids.indexOf(databasedatas[i].AliasName) == -1) {
                                        userids.push(databasedatas[i].AliasName);
                                    }
                                }
                            }
                            for (var i in userids) {
                                var data = null;
                                var obj = new Object;
                                for (var j in databasedatas) {
                                    if (databasedatas[j].TIME == time) {
                                        if (databasedatas[j].AliasName == userids[i]) {
                                            data += databasedatas[j].COUNT;
                                        }
                                    }
                                    
                                }
                                obj.AliasName = userids[i];
                                obj.COUNT = data;
                                datas.push(obj);

                            }

                            //正序排序
                            for (i = 0; i < datas.length; i++) {
                                for (j = i + 1; j < datas.length; j++) {
                                    if (datas[i].COUNT < datas[j].COUNT) {
                                        var temp = datas[i];
                                        datas[i] = datas[j];
                                        datas[j] = temp;
                                    }
                                }
                            }
                            for (var i in datas) {
                                yearsdata.push(datas[i].COUNT);
                                yearslabel.push(datas[i].AliasName);
                            };
                            var title = '系统年浏览次数前十名';
                            LoginAlluserYearCount(title, yearslabel.slice(0, 10), yearsdata.slice(0, 10));
                            //前十名
                            $("#login_topten").on("click", function () {
                                title = '系统年浏览次数前十名';
                                LoginAlluserYearCount(title, yearslabel.slice(0, 10), yearsdata.slice(0, 10));
                            });
                            //后十名
                            $("#login_lastten").on("click", function () {
                                title = '系统年浏览次数后十名';
                                LoginAlluserYearCount(title, yearslabel.slice(yearslabel.length - 10, yearslabel.length).reverse(), yearsdata.slice(yearsdata.length - 10, yearsdata.length).reverse());
                            });
                        }
                        //
                        //分系统占比饼状图
                        function sysPieChar(time) {
                            var sysYearPieDatas = [];
                            for (var i in systemlist) {
                                var piedata = new Object;
                                var data = null;
                                for (var j in databasedatas) {
                                    if (systemlist[i].syscode == databasedatas[j].SYSCODE) {
                                        if (databasedatas[j].TIME.substr(0, 4) == time) {
                                            data = databasedatas[j].COUNT + data;
                                        }
                                    }
                                }
                                if (data!=null) {
                                    piedata.value = data;
                                    piedata.name = systemlist[i].sysalias
                                    sysYearPieDatas.push(piedata);
                                }
                                
                            }
                            SystemPieChart(sysYearPieDatas);
                        }
                        //
                        //分系统前十名、后十名柱状图
                        function sysBarChart(time,sys_code) {
                            var yearsdata = [];
                            var yearslabel = [];
                            var userids = [];
                            var datas = [];
                            var systemName;
                            for (var i in databasedatas) {
                                if (databasedatas[i].TIME == time && databasedatas[i].SYSCODE == sys_code) {
                                    if (userids.indexOf(databasedatas[i].AliasName) == -1) {
                                        userids.push(databasedatas[i].AliasName);
                                    }
                                    
                                }
                            }
                            for (var i in userids) {
                                var data = null;
                                var obj = new Object;
                                for (var j in databasedatas) {
                                    if (databasedatas[j].TIME == time && databasedatas[j].SYSCODE == sys_code) {
                                        if (databasedatas[j].AliasName == userids[i]) {
                                            data += databasedatas[j].COUNT;
                                        }
                                    }

                                }
                                obj.AliasName = userids[i];
                                obj.COUNT = data;
                                datas.push(obj);

                            }

                            //正序排序
                            for (i = 0; i < datas.length; i++) {
                                for (j = i + 1; j < datas.length; j++) {
                                    if (datas[i].COUNT < datas[j].COUNT) {
                                        var temp = datas[i];
                                        datas[i] = datas[j];
                                        datas[j] = temp;
                                    }
                                }
                            }
                            for (var i in datas) {
                                yearsdata.push(datas[i].COUNT);
                                yearslabel.push(datas[i].AliasName);
                            };
                            if (systemlist.length > 0) {
                                for (var i in systemlist) {
                                    if (systemlist[i].syscode == sys_code) {
                                        systemName = systemlist[i].sysalias;
                                    }
                                    
                                }
                            };
                            if (yearslabel.length <= 10) {
                                //前十名
                                var title_top = systemName + '前十名';
                                SystemUserYearTopTen(title_top, yearslabel, yearsdata);
                                //后十名
                                var title_last = systemName + '后十名';
                                SystemUserYearLastTen(title_last, yearslabel.reverse(), yearsdata.reverse());

                            }
                            else {
                                //前十名
                                var title_top = systemName + '前十名';
                                SystemUserYearTopTen(title_top, yearslabel.slice(0, 10), yearsdata.slice(0, 10));
                                //后十名
                                var title_last = systemName + '后十名';
                                SystemUserYearLastTen(title_last, yearslabel.slice(yearslabel.length - 10, yearslabel.length).reverse(), yearsdata.slice(yearsdata.length - 10, yearsdata.length).reverse());

                            }
                            
                        }
                    }
                }
            }, datatype: "json"
        });
        //
        //用户查询
        //监听用户
        form.on('select(test)', function (info) {
            UserInfo(info.value);
        });
        form.render('select');
        UserSysPieChart();
        UserLineChart();
        function UserInfo(Id) {
            $.ajax({
                url: window.parent.servicesurl + "/api/LoginUser/GetUserLoginInfo", type: "get", data: { "id": Id },
                success: function (data) {
                    if (data == "") {
                        layer.msg("无数据信息！", { zIndex: layer.zIndex, success: function (layero) { layer.setTop(layero); } });

                    }
                    else {
                        var result = JSON.parse(data);
                        if (result.code == 1) {
                            var databasedatas = JSON.parse(result.data);
                            var user_allcount = null;//总登录次数
                            var user_yearcount = null;//本年登录次数
                            var user_monthcount = null;//本月登录次数
                            var user_daycount = null;//本日登录次数
                            for (var i in databasedatas) {
                                user_allcount += databasedatas[i].COUNT;//all
                                if (databasedatas[i].TIME.substr(0, 4) == date.substr(0, 4)) {
                                    user_yearcount += databasedatas[i].COUNT;//年
                                }
                                if (databasedatas[i].TIME.substr(0, 7) == date.substr(0, 7)) {
                                    user_monthcount += databasedatas[i].COUNT;//月
                                }
                                if (databasedatas[i].TIME == date) {
                                    user_daycount += databasedatas[i].COUNT;//日
                                }

                            }
                            //用户统计头部数据统计
                            if (user_yearcount == null) {
                                $('#user_year').text(0);
                            }
                            else {
                                $('#user_year').text(user_yearcount);
                            }
                            if (user_allcount == null) {
                                $('#user_all').text(0);
                            }
                            else {
                                $('#user_all').text(user_allcount);
                            }
                            
                            if (user_monthcount == null) {
                                $('#user_month').text(0);
                            }
                            else {
                                $('#user_month').text(user_monthcount);
                            }
                            
                            if (user_daycount==null) {
                                $('#user_day').text(0);
                            }
                            else {
                                $('#user_day').text(user_daycount);
                            }
                            
                            PieChar(2022);
                            LineChar();

                            
                            //
                            //用户时间轴
                            function LineChar() {
                                var data = [];
                                var datas = [];
                                for (var i in databasedatas) {
                                    data = [];
                                    data.push(databasedatas[i].TIME);
                                    data.push(databasedatas[i].COUNT)
                                    datas.push(data);
                                }
                                
                                UserLineChart(datas);
                            }
                            //
                            //用户分系统占比饼状图
                            function PieChar(time) {
                                var userSysPieDatas = [];
                                for (var i in systemlist) {
                                    var piedata = new Object;
                                    var data = null;
                                    for (var j in databasedatas) {
                                        if (systemlist[i].syscode == databasedatas[j].SYSCODE) {
                                            if (databasedatas[j].TIME.substr(0, 4) == time) {
                                                data = databasedatas[j].COUNT + data;
                                            }
                                        }
                                    }
                                    if (data!=null) {
                                        piedata.value = data;
                                        piedata.name = systemlist[i].sysalias
                                        userSysPieDatas.push(piedata);
                                    }
                                    
                                }

                                UserSysPieChart(userSysPieDatas);
                            }
                            //

                        }
                    }
                }, datatype: "json"
            });
        }
        
        ///
        //系统年前十、后十名用户，柱状图
        function LoginAlluserYearCount(title, lables, datas) {

            var chartDom = document.getElementById('login_allusersort');
            var myChart = echarts.init(chartDom);

            var option;

            option = {
                title: {
                    text: title
                },
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    data: lables,
                    axisLabel: {
                        interval: 0,
                        rotate: 45,//倾斜度 -90 至 90 默认为0
                        margin: 10

                    }
                },
                yAxis: {
                    type: 'value',
                    //axisLabel: {
                    //    formatter: '{value} 次' //单位
                    //}
                },
                series: [
                    {
                        name: '次数',
                        data: datas,
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true,  //开启显示
                                    position: 'top',  //在上方显示
                                    textStyle: {  //数值样式
                                        //color: 'black',
                                        fontSize: 16
                                    }
                                }
                            }
                        }
                    }
                ]
            };

            option && myChart.setOption(option);

        }
        //
        //年登录系统堆积面积图
        function LoginAllMonthCount(datas) {

            var chartDom = document.getElementById('login_allcount');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
                color: ['#1E90FF'],
                title: {
                    text: '各月份系统浏览次数'
                },
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['01月', '02月', '03月', '04月', '05月', '06月', '07月', '08月', '09月', '10月', '11月', '12月']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: '次数',
                        type: 'line',
                        smooth: true,
                        data: datas
                    }
                ]
            };

            option && myChart.setOption(option);
        }
        //
        //各系统统计饼状图（年）
        function SystemPieChart(datas) {
            var chartDom = document.getElementById('login_sys_pieyear');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
                title: {
                    text: '分系统年浏览次数比例',
                    subtext: 'Proportion of Each System',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{b} : {c} ({d}%)"/*鼠标经过显示*/
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    top:'center'
                },
                series: [
                    {
                        type: 'pie',
                        radius: '50%',
                        data: datas,
                        label: {            //饼图图形上的文本标签
                            normal: {
                                formatter: '{b}({d} %)'


                            }
                        },
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            option && myChart.setOption(option);
        }
        //
        //各系统统计折线图（月）
        function SystemLineChart(labels, datas) {
            var chartDom = document.getElementById('login_sys_linemonth');
            var myChart = echarts.init(chartDom);
            var option;

            option = {

                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: labels
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['01月', '02月', '03月', '04月', '05月', '06月', '07月', '08月', '09月', '10月', '11月', '12月']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: datas[0].name,
                        type: 'line',
                        smooth: true,
                        data: datas[0].data
                    },
                    {
                        name: datas[1].name,
                        type: 'line',
                        smooth: true,
                        data: datas[1].data
                    },
                    {
                        name: datas[2].name,
                        type: 'line',
                        smooth: true,
                        data: datas[2].data
                    },
                    {
                        name: datas[3].name,
                        type: 'line',
                        smooth: true,
                        data: datas[3].data
                    },
                    {
                        name: datas[4].name,
                        type: 'line',
                        smooth: true,
                        data: datas[4].data
                    },
                    {
                        name: datas[5].name,
                        type: 'line',
                        smooth: true,
                        data: datas[5].data
                    },
                    {
                        name: datas[6].name,
                        type: 'line',
                        smooth: true,
                        data: datas[6].data
                    }
                ]
            };

            option && myChart.setOption(option);
        }
       
        //
        //各系统年前十名用户，柱状图
        function SystemUserYearTopTen(title,lables,datas) {
            var chartDom = document.getElementById('login_sys_topbaryear');
            var myChart = echarts.init(chartDom);

            var option;

            option = {
                title: {
                    text: title
                },
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    data: lables,
                    axisLabel: {
                        interval: 0,
                        rotate: 45,//倾斜度 -90 至 90 默认为0
                        margin: 10

                    }
                },
                yAxis: {
                    type: 'value',
                    //axisLabel: {
                    //    formatter: '{value} 次' //单位
                    //}
                },
                series: [
                    {
                        name: '次数',
                        data: datas,
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true,  //开启显示
                                    position: 'top',  //在上方显示
                                    textStyle: {  //数值样式
                                        //color: 'black',
                                        fontSize: 16
                                    }
                                }
                            }
                        }
                    }
                ]
            };

            option && myChart.setOption(option);
        }
        //各系统年后十名用户，柱状图
        function SystemUserYearLastTen(title,lables,datas) {
            var chartDom = document.getElementById('login_sys_lastbaryear');
            var myChart = echarts.init(chartDom);

            var option;

            option = {
                title: {
                    text: title
                },
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    data: lables,
                    axisLabel: {
                        interval: 0,
                        rotate: 45,//倾斜度 -90 至 90 默认为0
                        margin: 10

                    }
                },
                yAxis: {
                    type: 'value',
                    //axisLabel: {
                    //    formatter: '{value} 次' //单位
                    //}
                },
                series: [
                    {
                        name: '次数',
                        data: datas,
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true,  //开启显示
                                    position: 'top',  //在上方显示
                                    textStyle: {  //数值样式
                                        //color: 'black',
                                        fontSize: 16
                                    }
                                }
                            }
                        }
                    }
                ]
            };

            option && myChart.setOption(option);
        }
        //单一用户信息分系统饼状图
        function UserSysPieChart(datas) {
            var chartDom = document.getElementById('user_system');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
                title: {
                    text: "本年度各分系统百分比",
                    left: 'center'
                    
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{b} :{c} ({d}%)"/*鼠标经过显示*/
                },
                legend: {
                    bottom: 0
                },
                series: [
                    {
                        name: '无信息',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            position: 'center',
                            normal: {
                                formatter: '{b}({d} %)'
                            }
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: datas
                    }
                ]
            };

            option && myChart.setOption(option);

        }
        //单一用户信息时间轴
        function UserLineChart(datas) {
            var chartDom = document.getElementById('user_days');
            var myChart = echarts.init(chartDom);
            var option;
            
            option = {
                tooltip: {
                    trigger: 'axis',
                    position: function (pt) {
                        return [pt[0], '10%'];
                    }
                },
                
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'time',
                    boundaryGap: true
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, '100%']
                },
                dataZoom: [
                    {
                        type: 'inside',
                        start: 50,
                        end: 100
                    },
                    {
                        start: 50,
                        end: 100
                    }
                ],
                series: [
                    {
                        name: '次数',
                        type: 'line',
                        smooth: false,
                        symbol: 'none',
                        areaStyle: {},
                        data: datas
                    }
                ]
            };

            option && myChart.setOption(option);
        }
        //获取系统列表
        function GetSystemInfo() {
            systemlist = [];
            $.ajax({
                url: window.parent.servicesurl + "/api/Role/GetSystems", type: "get",
                success: function (data) {
                    systemlist = [];
                    var sysinfos = JSON.parse(data);
                    for (var i in sysinfos) {
                        var sys = new Object;
                        sys.id = sysinfos[i].Id;
                        sys.sysname = sysinfos[i].SysName;
                        sys.sysalias = sysinfos[i].SysAlias;
                        sys.syscode = sysinfos[i].SysCode;
                        systemlist.push(sys);
                    }
                }, datatype: "json"
            });
        }




    </script>
</body>
</html>
