
@{
    /**/

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--Layui-->
    <link href="~/Apps/admin/layuiadmin/layui2.5.6/css/layui.css" rel="stylesheet" />
    <link href="~/Apps/admin/layuiadmin/style/admin.css" rel="stylesheet" />
    <script src="~/Apps/admin/layuiadmin/layui2.5.6/layui.js"></script>
</head>
<body class="layui-layout-body">

    <div id="LAY_app">
        <div class="layui-layout layui-layout-admin">
            <!--顶部区域 -->
            <div class="layui-header">
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item layadmin-flexible" lay-unselect>
                        <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                            <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;" layadmin-event="refresh" title="刷新">
                            <i class="layui-icon layui-icon-refresh-3"></i>
                        </a>
                    </li>
                </ul>

                <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                    @*<li class="layui-nav-item" lay-unselect>
                            <a lay-href="~/Apps/admin/page/message.html" layadmin-event="message" lay-text="消息中心">
                                <i class="layui-icon layui-icon-notice"></i>
                                <span class="layui-badge-dot"></span>
                            </a>
                        </li>*@
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" layadmin-event="theme">
                            <i class="layui-icon layui-icon-theme"></i>
                        </a>
                    </li>
                    @*<li class="layui-nav-item layui-hide-xs" lay-unselect>
                            <a href="javascript:;" layadmin-event="note">
                                <i class="layui-icon layui-icon-note"></i>
                            </a>
                        </li>*@
                    @*<li class="layui-nav-item layui-hide-xs" lay-unselect>
                            <a href="javascript:;" layadmin-event="fullscreen">
                                <i class="layui-icon layui-icon-screen-full"></i>
                            </a>
                        </li>*@
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;">
                            <cite>@ViewBag.User</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd style="text-align: center;"><a href="~/Platform/Logout">退出</a></dd>
                        </dl>
                    </li>

                </ul>
            </div>

            <!-- 侧边菜单 -->
            <div class="layui-side layui-side-menu">
                <div class="layui-side-scroll">
                    <div class="layui-logo">
                        <span><b>后台管理系统</b></span>
                    </div>

                    <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                        <!--用户管理-->
                        <li class="layui-nav-item">
                            <a href="javascript:;" lay-tips="用户管理" lay-direction="2">
                                <i class="layui-icon layui-icon-user"></i>
                                <cite>用户管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a lay-href="~/Apps/admin/view/user.html">用户信息</a>
                                </dd>
                                <dd>
                                    <a lay-href="~/Apps/admin/view/login.html">登录统计</a>
                                </dd>
                                <dd>
                                    <a lay-href="~/Apps/admin/view/message.html">消息推送</a>
                                </dd>
                            </dl>
                        </li>

                        <!--角色管理-->
                        <li class="layui-nav-item">
                            <a lay-href="~/Apps/admin/view/role.html" lay-tips="角色管理" lay-direction="2">
                                <i class="layui-icon"><svg t="1643181480348" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7776" width="16" height="16"><path d="M209.513187 890.861078c-62.613136 0-113.529313-50.916177-113.529313-113.529313L95.983874 278.834873c0-62.613136 50.916177-113.529313 113.529313-113.529313L832.548295 165.30556c62.613136 0 113.529313 50.916177 113.529313 113.529313l0 498.496892c0 62.613136-50.916177 113.529313-113.529313 113.529313L209.513187 890.861078zM209.513187 226.198555c-28.898371 0-52.636318 23.565933-52.636318 52.636318l0 498.496892c0 28.898371 23.565933 52.636318 52.636318 52.636318L832.548295 829.968083c28.898371 0 52.636318-23.565933 52.636318-52.636318L885.184613 278.834873c0-28.898371-23.565933-52.636318-52.636318-52.636318L209.513187 226.198555zM791.092894 703.88174c-16.857383 0-30.446498-13.761129-30.446498-30.446498 0-51.948261-42.143457-94.091718-94.091718-94.091718s-94.091718 42.143457-94.091718 94.091718c0 16.857383-13.761129 30.446498-30.446498 30.446498-16.857383 0-30.446498-13.761129-30.446498-30.446498 0-53.15236 27.350244-102.176382 72.417941-130.55871-19.781623-20.985721-30.790526-48.507979-30.790526-77.234336 0-62.613136 50.916177-113.529313 113.529313-113.529313s113.529313 50.916177 113.529313 113.529313c0 28.726356-11.180917 56.0766-30.790526 77.234336 44.895683 28.382328 72.417941 77.234336 72.417941 130.55871C821.711406 690.120611 807.950277 703.88174 791.092894 703.88174zM666.554678 413.177893c-28.898371 0-52.636318 23.565933-52.636318 52.636318s23.565933 52.636318 52.636318 52.636318c29.070385 0 52.636318-23.565933 52.636318-52.636318S695.453049 413.177893 666.554678 413.177893z" p-id="7777" fill="#ffffff"></path><path d="M434.507643 413.86595 248.216361 413.86595c-17.717453 0-31.994625-14.277171-31.994625-31.994625 0-17.717453 14.277171-31.994625 31.994625-31.994625l186.291282 0c17.717453 0 31.994625 14.277171 31.994625 31.994625C466.502268 399.588779 452.225097 413.86595 434.507643 413.86595z" p-id="7778" fill="#ffffff"></path><path d="M434.507643 559.90593 248.216361 559.90593c-17.717453 0-31.994625-14.277171-31.994625-31.994625s14.277171-31.994625 31.994625-31.994625l186.291282 0c17.717453 0 31.994625 14.277171 31.994625 31.994625S452.225097 559.90593 434.507643 559.90593z" p-id="7779" fill="#ffffff"></path><path d="M434.507643 704.397783 248.216361 704.397783c-17.717453 0-31.994625-14.277171-31.994625-31.994625s14.277171-31.994625 31.994625-31.994625l186.291282 0c17.717453 0 31.994625 14.277171 31.994625 31.994625S452.225097 704.397783 434.507643 704.397783z" p-id="7780" fill="#ffffff"></path></svg></i>
                                <cite>角色管理</cite>
                            </a>
                        </li>

                        <!--项目授权-->
                        <li class="layui-nav-item">
                            <a href="javascript:;" lay-tips="项目授权" lay-direction="2">
                                <i class="layui-icon"><svg t="1643181897300" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="24541" width="16" height="16"><path d="M759 335c0-137-111-248-248-248S263 198 263 335c0 82.8 40.6 156.2 103 201.2-0.4 0.2-0.7 0.3-0.9 0.4-44.7 18.9-84.8 46-119.3 80.6-34.5 34.5-61.5 74.7-80.4 119.5C146.9 780.5 137 827 136 874.8c-0.1 4.5 3.5 8.2 8 8.2h59.9c4.3 0 7.9-3.5 8-7.8 2-77.2 32.9-149.5 87.6-204.3C356 614.2 431 583 511 583c137 0 248-111 248-248zM511 507c-95 0-172-77-172-172s77-172 172-172 172 77 172 172-77 172-172 172z m105 221h264c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H703.5l47.2-60.1c1.1-1.4 1.7-3.2 1.7-4.9 0-4.4-3.6-8-8-8h-72.6c-4.9 0-9.5 2.3-12.6 6.1l-68.5 87.1c-4.4 5.6-6.8 12.6-6.8 19.8 0.1 17.7 14.4 32 32.1 32z m240 64H592c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h176.5l-47.2 60.1c-1.1 1.4-1.7 3.2-1.7 4.9 0 4.4 3.6 8 8 8h72.6c4.9 0 9.5-2.3 12.6-6.1l68.5-87.1c4.4-5.6 6.8-12.6 6.8-19.8-0.1-17.7-14.4-32-32.1-32z" p-id="24542" fill="#ffffff"></path></svg></i>
                                <cite>项目授权</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a lay-href="~/Apps/admin/view/auth_model.html">实景模型管理</a>
                                </dd>
                                <dd>
                                    <a lay-href="~/Apps/admin/view/auth_monitor.html">地质灾害监测</a>
                                </dd>
                                <dd>
                                    <a lay-href="~/Apps/admin/view/auth_uav.html">航线任务规划</a>
                                </dd>
                                <dd>
                                    <a lay-href="~/Apps/admin/view/auth_geology.html">地质要素采集</a>
                                </dd>
                            </dl>
                        </li>

                        <!--自动化监测设备-->
                        <li class="layui-nav-item">
                            <a href="javascript:;" lay-tips="ETL" lay-direction="2">
                                <i class="layui-icon"><svg t="1643182012925" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="33789" width="16" height="16"><path d="M804.278857 415.890286h-510.537143a43.885714 43.885714 0 0 0-43.885714 43.885714v126.317714H125.220571a58.514286 58.514286 0 0 1-58.514285-58.514285v-109.714286a58.514286 58.514286 0 0 1 58.514285-58.514286h620.544a58.514286 58.514286 0 0 1 58.514286 56.539429z m-554.422857 226.889143v226.742857H125.220571a58.514286 58.514286 0 0 1-58.514285-58.514286v-109.714286a58.514286 58.514286 0 0 1 58.514285-58.514285h124.635429zM125.220571 75.776h620.544a58.514286 58.514286 0 0 1 58.514286 58.514286v109.787428a58.514286 58.514286 0 0 1-58.514286 58.514286H125.220571a58.514286 58.514286 0 0 1-58.514285-58.514286v-109.714285a58.514286 58.514286 0 0 1 58.514285-58.514286z m71.899429 170.130286a56.685714 56.685714 0 1 0 0-113.444572 56.685714 56.685714 0 0 0 0 113.371429z m614.619429 226.742857h87.771428v385.462857h74.166857v88.941714H855.625143c-24.283429 0-43.885714-22.089143-43.885714-49.444571V472.722286z m-281.014858 0h254.610286V561.737143h-78.994286v385.389714h-87.771428v-385.462857h-87.771429V472.795429z m-162.377142 0h136.045714V561.737143h-122.88v88.941714h122.88v88.941714h-122.88v108.690286h122.88v98.816h-166.765714c-24.283429 0-43.958857-22.089143-43.958858-49.444571V522.093714c0-27.282286 19.748571-49.371429 43.885715-49.371428h30.72z" fill="#ffffff" p-id="33790"></path></svg></i>
                                <cite>ETL</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a lay-href="~/Apps/admin/view/device.html">监测设备</a>
                                </dd>
                                <dd>
                                    <a lay-href="~/Apps/admin/view/database.html">监测数据库</a>
                                </dd>
                                <dd>
                                    <a lay-href="~/Apps/admin/view/sql.html">SQL</a>
                                </dd>
                                <dd>
                                    <a lay-href="~/Apps/admin/view/factory.html">设备厂家</a>
                                </dd>
                                <dd>
                                    <a lay-href="~/Apps/admin/view/sale.html">设备经销商</a>
                                </dd>
                            </dl>
                        </li>

                        <!--坐标系统-->
                        <li class="layui-nav-item">
                            <a lay-href="~/Apps/admin/view/srid.html" lay-tips="坐标系统" lay-direction="2">
                                <i class="layui-icon"><svg t="1613571844310" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4253" width="16" height="16"><path d="M924.16 544H469.76V89.6c0-11.264-9.216-20.48-20.48-20.48s-20.48 9.216-20.48 20.48v466.432L99.072 885.76c-7.936 7.936-7.936 20.992 0 28.928 4.096 4.096 9.216 5.888 14.592 5.888 5.12 0 10.496-2.048 14.592-5.888l329.728-329.728H924.16c11.264 0 20.48-9.216 20.48-20.48s-9.216-20.48-20.48-20.48z" p-id="4254" fill="#ffffff"></path><path d="M370.944 120.576l78.336-78.336 78.336 78.336M884.992 485.12l78.336 78.336-78.336 78.336M191.744 932.864H80.896v-110.848M308.736 884.48l-18.432 27.904 18.176 27.392H296.96l-10.496-17.664c-0.512-1.024-1.28-2.304-2.304-4.352h-0.256c0 0.256-0.768 1.536-2.56 4.352l-10.752 17.664h-11.264l18.688-27.136-17.92-28.16h11.52l10.24 18.432c0.512 1.024 1.28 2.56 2.304 4.352h0.256l13.568-22.784h10.752zM936.448 385.28l-25.088 63.744c-4.608 11.776-11.264 17.664-19.712 17.664-2.56 0-4.608-0.256-6.144-0.768v-8.704c1.792 0.768 3.84 1.024 5.376 1.024 4.352 0 7.68-2.56 9.984-7.68l4.352-9.984-21.76-55.296h10.752l14.336 41.472 1.28 4.608h0.256c0.256-1.024 0.512-2.56 1.28-4.352l15.104-41.728h9.984zM613.12 102.656h-45.824v-3.328l32.256-44.032h-29.184v-8.192h43.008v3.328L581.376 94.72h31.744v7.936z" p-id="4255" fill="#ffffff"></path></svg></i>
                                <cite>坐标系统</cite>
                            </a>
                        </li>

                        <!--人员管理-->
                        @*<li class="layui-nav-item">
                                <a lay-href="javascript:;" lay-tips="人员管理" lay-direction="2">
                                    <i class="layui-icon layui-icon-friends"></i>
                                    <cite>人员管理</cite>
                                </a>
                            </li>*@

                        <!--单位管理-->
                        @*<li class="layui-nav-item">
                                <a lay-href="javascript:;" lay-tips="单位管理" lay-direction="2">
                                    <i class="layui-icon layui-icon-template"></i>
                                    <cite>单位管理</cite>
                                </a>
                            </li>*@

                    </ul>
                </div>
            </div>

            <!-- 页面标签 -->
            <div class="layadmin-pagetabs" id="LAY_app_tabs">
                <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-down">
                    <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                        <li class="layui-nav-item" lay-unselect>
                            <a href="javascript:;"></a>
                            <dl class="layui-nav-child layui-anim-fadein">
                                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前</a></dd>
                                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它</a></dd>
                                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭所有</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                    <ul class="layui-tab-title" id="LAY_app_tabsheader">
                        <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                    </ul>
                </div>
            </div>

            <!-- 主体内容 -->
            <div class="layui-body" id="LAY_app_body">
                <div class="layadmin-tabsbody-item layui-show">
                    <iframe src="~/Apps/admin/view/home.html" frameborder="0" class="layadmin-iframe"></iframe>
                </div>
            </div>

            <!-- 辅助元素，一般用于移动设备下遮罩 -->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>

        </div>
    </div>

    <!--javascript-->
    <script>
        var servicesurl = @Html.Raw(Json.Encode(ViewBag.ServicesURL));

        layui.config({
            base: '../../Apps/admin/layuiadmin/'
        }).extend({
            index: 'lib/index'
        }).use('index');
    </script>
</body>
</html>