
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>3D Points Cloud 系统</title>
    <!--jquery-->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <!--CesiumJS-->
    <link href="~/Scripts/Cesium/Widgets/widgets.css" rel="stylesheet" />
    <script src="~/Scripts/Cesium/Cesium.js"></script>
    <script src="~/Scripts/navigation/viewerCesiumNavigationMixin.min.js"></script>
    <script src="~/Scripts/navigation/SpirographPositionProperty.js"></script>
    <script src="~/Scripts/CesiumHeatmap/CesiumHeatmap.js"></script>
    <script src="~/Scripts/CesiumHeatmap/HeatmapImageryProvider.js"></script>
    <script src="~/Scripts/FileSaver.js"></script>

    <!--Layui-->
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.all.js"></script>
    <!--ECharts-->
    <script src="~/Scripts/ECharts/echarts.min.js"></script>
    <script src="~/Scripts/ECharts/turf.min.js"></script>

    <link href="~/Apps/monitor/css/main.css" rel="stylesheet" />
    <style>
        body {
            overflow-y: scroll; /* 禁止刷新后出现横向滚动条 */
        }

            body .myskin {
                background-color: transparent; /*背景透明*/
                box-shadow: 0 0 0 rgba(0,0,0,0); /*前景无阴影*/
            }
    </style>
</head>
<body>
    <!--顶栏-->
    <div id="header">
        <div style="position:absolute;height:100%;width:380px;">
            <div style="position:absolute;width:50px;height:50px;">
                <!--系统图标-->
                <svg t="1651066710617" class="icon" viewBox="0 0 1200 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="20713" width="48" height="48"><path d="M17.655172 1024c-10.593103 0-17.655172-7.062069-17.655172-17.655172V17.655172C0 7.062069 7.062069 0 17.655172 0s17.655172 7.062069 17.655173 17.655172v988.689656c0 10.593103-7.062069 17.655172-17.655173 17.655172z" p-id="20714" fill="#ffffff"></path><path d="M1182.896552 1024H17.655172c-10.593103 0-17.655172-7.062069-17.655172-17.655172s7.062069-17.655172 17.655172-17.655173h1165.24138c10.593103 0 17.655172 7.062069 17.655172 17.655173s-7.062069 17.655172-17.655172 17.655172z" p-id="20715" fill="#ffffff"></path><path d="M1038.124138 1024c-7.062069 0-148.303448-38.841379-218.924138-109.462069-28.248276-28.248276-52.965517-67.089655-77.682759-102.4-35.310345-60.027586-74.151724-120.055172-130.648275-141.241379-63.558621-24.717241-116.524138-28.248276-158.896552-28.248276-77.682759 0-144.772414-3.531034-236.579311-120.055173-21.186207-28.248276-31.77931-70.62069-42.372413-112.993103-7.062069-35.310345-14.124138-70.62069-31.779311-102.4C102.4 225.986207 17.655172 211.862069 14.124138 211.862069l3.531034-35.310345c3.531034 0 105.931034 14.124138 155.365518 116.524138 17.655172 35.310345 24.717241 74.151724 35.310344 109.462069 7.062069 38.841379 17.655172 77.682759 35.310345 98.868966 81.213793 102.4 134.17931 102.4 208.331035 105.931034 49.434483 0 102.4 3.531034 173.020689 31.77931 67.089655 28.248276 109.462069 91.806897 148.303449 155.365518 21.186207 35.310345 45.903448 70.62069 70.620689 95.337931 67.089655 67.089655 201.268966 102.4 204.8 102.4l-10.593103 31.77931zM1006.344828 649.710345c-3.531034 0-7.062069 0-7.062069-3.531035l-162.427587-91.806896c-7.062069-3.531034-10.593103-10.593103-10.593103-14.124138v-183.613793c0-7.062069 3.531034-10.593103 7.062069-14.124138L995.751724 247.172414c7.062069-3.531034 10.593103-3.531034 17.655173 0l162.427586 91.806896c7.062069 3.531034 10.593103 10.593103 10.593103 14.124138v183.613793c0 7.062069-3.531034 10.593103-7.062069 14.124138l-158.896551 91.806897c-10.593103 7.062069-14.124138 7.062069-14.124138 7.062069zM861.572414 529.655172l144.772414 81.213794 141.241379-81.213794v-165.95862L1002.813793 282.482759l-141.241379 81.213793V529.655172z" p-id="20716" fill="#ffffff"></path><path d="M1002.813793 451.972414c-3.531034 0-7.062069 0-7.062069-3.531035l-134.17931-67.089655c-7.062069-3.531034-10.593103-14.124138-7.062069-24.717241 3.531034-7.062069 14.124138-10.593103 24.717241-7.062069l127.117242 63.55862 127.117241-60.027586c7.062069-3.531034 17.655172 0 24.717241 7.062069 3.531034 10.593103 0 17.655172-7.062069 24.717242l-134.17931 63.55862c-10.593103 3.531034-10.593103 3.531034-14.124138 3.531035z" p-id="20717" fill="#ffffff"></path><path d="M1002.813793 617.931034c-10.593103 0-17.655172-7.062069-17.655172-17.655172v-158.896552c0-10.593103 7.062069-17.655172 17.655172-17.655172s17.655172 7.062069 17.655173 17.655172V600.275862c0 10.593103-7.062069 17.655172-17.655173 17.655172z" p-id="20718" fill="#ffffff"></path></svg>            </div>

            <div style="position:absolute;margin:2px 2px 2px 52px;">
                <p class="syschinaTitle" style="font-size: 18px;width: 600px;">消落带地表形态变化测量与分析系统</p>
                <p class="sysenglishTitle" style="margin-top: 3px;">Surface Morphological Change Measurement & Analysis system for Hydro-fluctuation Belt</p>
            </div>
        </div>

        <!--当前项目-->
        <div class="layui-inline" style="position:absolute;left:420px;top:5px;bottom:5px">
            <div class="layui-input-inline" id="currentprojectoperate" style="margin-left: 100px;">
                <select id="currentproject"></select>
            </div>
        </div>

        <!--工具栏-->
        <div style="position:absolute;top:7px;right:5px">
            <button id="userbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-user"><span style="margin-left:5px;font-size:18px;">@ViewBag.User</span></i></button>
            <button id="noticebtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-notice"></i></button>
            <button id="setbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-set-fill"></i></button>
            <a href="~/Platform/Logout">
                <button id="exitbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-logout"></i></button>
            </a>
        </div>


    </div>

    <!--地图-->
    <div id="map"></div>

    <!--javascript-->
    <script>
        var servicesurl = @Html.Raw(Json.Encode(ViewBag.ServicesURL));
        var datasurl = @Html.Raw(Json.Encode(ViewBag.DatasURL));
    </script>
    <script src="~/Apps/common/common.js"></script>
    <script src="~/Apps/common/measure.js"></script>
    <script src="~/Apps/common/mark.js"></script>
    <script src="~/Apps/pointcloud/js/1.1-all.js"></script>
    <script src="~/Apps/pointcloud/js/1.2-para.js"></script>
    <script src="~/Apps/pointcloud/js/3.0-map.js"></script>
    <script src="~/Apps/pointcloud/js/4.1-pointcloud-monitor-projectlayer.js"></script>
    <script src="~/Apps/pointcloud/js/4.3-pointcloud-projectlayer.js"></script>
    <script src="~/Apps/pointcloud/js/5.0-header.js"></script>
    <script src="~/Apps/pointcloud/js/6.0-pointcloud-util.js"></script>
    <script src="~/Apps/pointcloud/js/6.1-pointcloud_util_precreat.js"></script>
    <script src="~/Apps/pointcloud/js/6.2-pointcloud_util_tasklist.js"></script>
    <script src="~/Apps/pointcloud/js/6.3-pointcloud-util-addtask.js"></script>
    <script src="~/Apps/pointcloud/js/6.4-pointcloud_util_tool.js"></script>
    <script src="~/Apps/pointcloud/js/6.4.1-pointcloud_util_tool_shotjpg.js"></script>
    <script src="~/Apps/pointcloud/js/6.4.2-pointcloud_util_tool_turf.js"></script>
    <script src="~/Apps/pointcloud/js/6.4.3-pointcloud_util_tool_echartslayer.js"></script>
    <script src="~/Apps/pointcloud/js/6.5 pointcloud_util_changelayer.js"></script>
    <script src="~/Apps/pointcloud/js/6.5.1-pointcloud-util-changelayer-heatmap.js"></script>
</body>
</html>
