@{
    /**/
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>航线任务规划系统</title>
    <!--jquery-->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <!--CesiumJS-->
    <link href="~/Scripts/Cesium/Widgets/widgets.css" rel="stylesheet" />
    <script src="~/Scripts/Cesium/Cesium.js"></script>
    <script src="~/Scripts/navigation/viewerCesiumNavigationMixin.min.js"></script>
    <script src="~/Scripts/navigation/SpirographPositionProperty.js"></script>
    <!--Layui-->
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.all.js"></script>
    <!--FileSaver-->
    <script src="~/Scripts/FileSaver.js"></script>

    <link href="~/Apps/uav/css/main.css" rel="stylesheet" />
</head>
<body>
    <!--顶栏-->
    <div id="header">
        <div style="position:absolute;height:100%;width:300px;">
            <div style="position:absolute;width:50px;height:50px;">
                <!--系统图标-->
                <svg t="1643082956363" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1191" width="50" height="50"><path d="M389.33078003 725.66691589c8.57448578 53.22360993-27.57740021 103.35731506-80.80101013 111.93180085-53.22360993 8.57448578-103.35731506-27.57740021-111.93180085-80.80101014S224.17536927 653.51763916 277.39897918 644.86590576c10.35118103-1.69944763 20.8568573-1.69944763 31.13079072 0 10.50567627-11.27815247 20.0843811-22.17006683 28.50437164-32.52124787-49.20673371-16.76273347-103.58905792-4.17137146-140.35892487 32.52124787-53.06911469 53.06911469-53.06911469 139.50920105 0 192.65556336s139.50920105 53.14636231 192.65556336 0c36.69261933-36.76986695 49.28398132-91.15219117 32.52124787-140.35892488-10.35118103 8.49723816-21.2430954 18.07594299-32.52124787 28.50437165z m299.4890213-118.26610566c8.34274292 10.50567627 17.76695252 21.39759064 28.11813354 32.67574311 53.22360993-8.49723816 103.28006745 27.80914307 111.77730561 81.032753s-27.80914307 103.28006745-81.03275299 111.77730559-103.28006745-27.80914307-111.77730561-81.03275298c-1.62220001-10.19668579-1.62220001-20.54786682 0-30.74455261-11.27815247-10.35118103-22.24731445-19.77539063-32.6757431-28.04088593-16.45374298 48.97499084-3.78513337 103.04832458 32.6757431 139.66369629 53.14636231 53.14636231 139.50920105 53.14636231 192.65556336 0s53.14636231-139.50920105 0-192.65556336c-36.6153717-36.38362885-90.68870544-49.12948609-139.74094391-32.67574311z m-50.82893372-292.15049742c-8.49723816-53.22360993 27.73189545-103.28006745 80.95550538-111.85455323s103.28006745 27.73189545 111.85455322 80.95550537c8.49723816 53.22360993-27.73189545 103.28006745-80.95550537 111.85455322-10.19668579 1.62220001-20.62511445 1.62220001-30.82180024 0-10.73741914 11.66439057-20.16162873 22.55630493-28.27262878 32.67574311 49.05223847 16.60823823 103.28006745 3.9396286 139.97268677-32.67574311 53.14636231-53.14636231 53.14636231-139.50920105 0-192.65556334s-139.50920105-53.14636231-192.65556336-1e-8c-36.6153717 36.69261933-49.28398132 90.92044831-32.6757431 140.04993439 9.81044769-7.95650482 20.70236206-17.38071443 32.59849548-28.34987641zM331.16332244 419.07111358c-8.80622864-10.42842865-18.53942872-21.2430954-29.04510497-32.289505-53.14636231 8.80622864-103.43456269-27.19116211-112.24079132-80.41477204s27.19116211-103.43456269 80.41477203-112.24079132S373.72676086 221.31720733 382.5329895 274.54081726c1.77669526 10.58292389 1.77669526 21.32034302 0 31.90326691 11.04640961 10.50567627 21.86107636 20.16162873 32.28950501 29.04510498 17.22621918-49.36122894 4.7121048-104.2842865-32.28950501-141.28589631-53.14636231-53.14636231-139.58644867-53.14636231-192.65556335 0S136.73106385 333.7124939 189.87742615 386.8588562c37.07885742 36.92436218 91.92466736 49.43847656 141.2858963 32.21225739z m183.61759186 60.1758957c-21.93832398 0-39.78252412 17.84420014-39.70527648 39.85977173s17.84420014 39.78252412 39.85977173 39.70527649c21.93832398 0 39.78252412-17.84420014 39.70527649-39.85977174 0-10.50567627-4.17137146-20.62511445-11.66439057-28.04088592-7.41577148-7.49301911-17.61245727-11.66439057-28.19538117-11.66439056z" fill="#ffffff" p-id="1192"></path><path d="M705.1962967 751.235878c2.24018097 2.39467621 7.80200959 8.72898102 8.96072387 9.81044768l0.54073334 0.54073333c0.30899048 0.30899048 0.61798096 0.61798096 1.00421905 0.92697145 13.51833344 12.2051239 33.0619812 13.13209534 44.41738129 1.69944763 10.66017151-10.66017151 10.58292389-28.50437165 0.46348572-41.86820984-2.70366669-3.01265717-5.63907623-5.87081909-8.6517334-8.57448578-1.1587143-0.92697143-2.00843811-1.77669526-2.47192383-2.08568573-31.13079071-28.89060974-132.86590576-127.61306763-130.85746766-185.47153473 0.07724763-2.39467621 0-12.59136201 0-15.44952392-0.30899048-58.01296235 99.9584198-155.4222107 130.85746766-184.00382996 0.3862381-0.30899048 1.31320954-1.1587143 2.47192383-2.16293335 3.01265717-2.70366669 5.94806672-5.56182862 8.6517334-8.57448578 10.11943818-13.3638382 10.27393342-31.20803833-0.46348572-41.86820983-11.35540009-11.35540009-30.89904786-10.50567627-44.41738129 1.69944763-0.3862381 0.23174287-0.69522858 0.54073334-1.00421905 0.92697143l-0.54073334 0.54073334c-1.1587143 1.1587143-6.72054292 7.41577148-8.96072388 9.88769531-30.43556213 32.59849549-120.42903901 123.90518188-177.36053466 128.23104859-4.48036193 0.30899048-19.85263825 0.30899048-23.56052399 0.15449523-58.32195282-2.31742859-153.49102021-100.3446579-181.68640137-130.85746765-0.3862381-0.3862381-1.1587143-1.31320954-2.16293334-2.47192383-2.70366669-3.01265717-5.56182862-5.94806672-8.57448579-8.65173339-13.3638382-10.11943818-31.20803833-10.27393342-41.86820983 0.3862381-11.35540009 11.35540009-10.50567627 30.89904786 1.69944763 44.41738128 0.23174287 0.3862381 0.54073334 0.69522858 0.92697144 1.00421906l0.54073333 0.54073333c1.1587143 1.1587143 7.41577148 6.72054292 9.88769531 8.96072388 31.67152404 29.66308594 119.19307709 115.87142945 127.69031526 172.88017273 0.92697143 6.10256196 0.84972382 31.20803833-0.77247621 39.01004791-12.12787628 57.00874328-96.0187912 139.58644867-126.99508666 168.47705841-2.39467621 2.24018097-8.72898102 7.80200959-9.88769532 8.96072388l-0.54073334 0.54073334c-0.30899048 0.30899048-0.61798096 0.61798096-0.92697144 1.00421905-12.2051239 13.51833344-13.13209534 33.0619812-1.69944763 44.4173813 10.66017151 10.66017151 28.50437165 10.58292389 41.86820984 0.46348571 3.01265717-2.70366669 5.87081909-5.63907623 8.57448579-8.65173339 0.92697143-1.1587143 1.77669526-2.00843811 2.16293334-2.47192383 27.57740021-29.74033357 118.96133423-123.98242951 177.51502991-130.54847719 5.25283813-0.61798096 23.94676208-0.54073334 28.89060973-0.07724761 56.93149567 5.56182862 146.07524872 96.0187912 176.27906801 128.30829621z m-146.69322969-188.48419191C534.40180969 586.93019104 495.23726653 586.93019104 471.05876159 562.7516861c-24.17850495-24.17850495-24.17850495-63.26580048 0-87.44430543s63.26580048-24.17850495 87.44430542 0c24.17850495 23.79226685 24.41024781 62.72506714 0.54073335 86.82632446-0.15449524 0.23174287-0.30899048 0.46348572-0.54073335 0.61798096z" fill="#ffffff" p-id="1193"></path></svg>
            </div>

            <div style="position:absolute;margin:2px 2px 2px 52px;">
                <p class="syschinaTitle">航线任务规划系统</p>
                <p class="sysenglishTitle">UAV Wayline Mission Planning System</p>
            </div>
        </div>

        <div style="position:absolute;top:7px;right:5px">
            <button id="userbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-user"><span style="margin-left:5px;font-size:18px;">@ViewBag.User</span></i></button>
            <button id="setbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-set-fill"></i></button>
            <a href="~/Platform/Logout">
                <button id="exitbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-logout"></i></button>
            </a>
        </div>
    </div>

    <!--地图-->
    <div id="map"></div>

    <script>
        var servicesurl = @Html.Raw(Json.Encode(ViewBag.ServicesURL));
        var datasurl = @Html.Raw(Json.Encode(ViewBag.DatasURL));
    </script>

    <script src="~/Apps/common/common.js"></script>
    <script src="~/Apps/common/map.js"></script>

    <script src="~/Apps/uav/js/1-uavconfig.js"></script>
    <script src="~/Apps/uav/js/2-uavpara.js"></script>
    <script src="~/Apps/uav/js/3-uavprojectlist.js"></script>
    <script src="~/Apps/uav/js/4-uavproject.js"></script>
    <script src="~/Apps/uav/js/5-uavprojectauth.js"></script>
    <script src="~/Apps/uav/js/6-uavroute.js"></script>
    <script src="~/Apps/uav/js/7-uavheader.js"></script>
    <script src="~/Apps/uav/js/8-uavutil.js"></script>

    <script src="~/Apps/common/measure.js"></script>
    <script src="~/Apps/common/mark.js"></script>
    <script src="~/Apps/common/model.js"></script>
    <script src="~/Apps/common/localdata.js"></script>
</body>
</html>
