@{
    /**/
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>无人机巡查系统</title>
    <!--jquery-->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <!--CesiumJS-->
    <link href="~/Scripts/Cesium/Widgets/widgets.css" rel="stylesheet" />
    <script src="~/Scripts/Cesium/Cesium.js"></script>
    <script src="~/Scripts/navigation/viewerCesiumNavigationMixin.min.js"></script>
    <script src="~/Scripts/navigation/SpirographPositionProperty.js"></script>
    <!--Layui-->
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.all.js"></script>
    <link href="~/Apps/uavfind/css/main.css" rel="stylesheet" />
    <!--FileSaver-->
    <script src="~/Scripts/FileSaver.js"></script>
    <style>
        body {
            overflow-y: scroll; /* 禁止刷新后出现横向滚动条 */
        }
    </style>
</head>
<body>
    <!--顶栏-->
    <div id="header">
        <div style="position:absolute;height:100%;width:300px;">
            <div style="position:absolute;width:50px;height:50px;">
                <!--系统图标-->
                <svg t="1654356005764" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1394" width="50" height="50"><path d="M624.43178605 647.16389587l5.22224156 5.83662275a17.20267766 17.20267766 0 1 0 25.80401648-23.03930044l-4.91505095-4.91505094c-17.81705888-16.58829646-76.18328643-73.11137976-74.95452403-105.98078208v-8.90852944c0-33.17659293 57.44465575-89.08529501 74.95452404-105.3664002 1.84314428 0 3.37909729-3.37909729 4.91505094-4.91505096a17.20267766 17.20267766 0 1 0-25.80401648-23.03930042l-5.22224157 5.83662276C607.53629897 399.87540457 555.31388477 453.94096303 522.75167371 453.94096303h-13.5163898C475.7515004 453.94096303 421.07156072 397.41787909 404.79045551 379.90801082l-6.14381336-6.14381337a17.20267766 17.20267766 0 0 0-30.71906744 8.90852945 17.20267766 17.20267766 0 0 0 6.14381336 16.58829647l5.52943215 5.22224155c18.43144009 16.89548708 68.50352006 66.35318519 73.41857102 98.91539624a136.69984888 136.69984888 0 0 1 0 22.42491923c-7.06538516 32.56221106-55.29432089 79.86957496-73.11138042 96.45787077l-5.52943215 4.91505096a17.20267766 17.20267766 0 0 0 5.83662277 30.71906745 17.20267766 17.20267766 0 0 0 17.20267765-4.30066975l4.91505095-4.91505094v-1.53595302c15.97391526-16.89548708 68.50352006-70.96104555 101.98730294-74.64733342h16.58829644c32.56221106 3.07190669 83.86305345 54.98713028 101.06573114 73.41857035z m-84.17024407-107.82392636a34.40535534 34.40535534 0 1 1 10.7516737-25.18963465 35.63411774 35.63411774 0 0 1-10.7516737 25.18963465z" fill="#ffffff" p-id="1395"></path><path d="M824.41291342 489.88227139h-23.65368164a289.68080359 289.68080359 0 0 0-266.33431257-266.64150317V199.89427719a22.42491921 22.42491921 0 1 0-44.84983842 0v23.34649103a289.68080359 289.68080359 0 0 0-266.33431257 266.64150317H199.89427719a22.42491921 22.42491921 0 0 0-22.42491924 22.11772861 22.42491921 22.42491921 0 0 0 22.42491924 22.42491921h23.34649103a289.68080359 289.68080359 0 0 0 266.64150317 266.33431257v23.65368163a22.11772861 22.11772861 0 0 0 22.11772861 22.11772864 22.42491921 22.42491921 0 0 0 22.42491921-22.11772864v-23.34649101a290.29518546 290.29518546 0 0 0 266.33431257-266.64150319h23.65368163a22.42491921 22.42491921 0 0 0 22.11772864-22.42491921 22.11772861 22.11772861 0 0 0-22.11772864-22.11772861z m-289.98799421 266.33431323v-43.31388478a22.42491921 22.42491921 0 0 0-22.42491921-22.42491922 22.42491921 22.42491921 0 0 0-22.11772861 22.42491922v43.31388478a245.75253763 245.75253763 0 0 1-222.09885601-221.79166541h43.62107539a22.42491921 22.42491921 0 0 0 22.11772861-22.42491921 22.11772861 22.11772861 0 0 0-22.11772861-22.11772861H267.78341539a245.75253763 245.75253763 0 0 1 222.098856-222.098856v43.62107538a22.11772861 22.11772861 0 0 0 22.11772861 22.11772861 22.42491921 22.42491921 0 0 0 22.42491921-22.11772861V267.78341539a245.75253763 245.75253763 0 0 1 221.7916654 222.098856h-43.31388477a22.42491921 22.42491921 0 0 0-22.42491922 22.11772861 22.42491921 22.42491921 0 0 0 22.42491922 22.42491921h43.31388478a245.75253763 245.75253763 0 0 1-221.79166541 221.7916654z" fill="#ffffff" p-id="1396"></path></svg>
            </div>

            <div style="position:absolute;margin:2px 2px 2px 52px;">
                <p class="syschinaTitle">无人机巡查系统</p>
                <p class="sysenglishTitle">Uav Find System</p>
            </div>
        </div>

        <!--工具栏-->
        <div style="position:absolute;top:7px;right:5px">
            <button id="userbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-user"><span style="margin-left:5px;font-size:18px;">@ViewBag.User</span></i></button>
            <!--
            <button id="noticebtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-notice"></i></button>
            <button id="setbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-set-fill"></i></button>
            -->
            <a href="~/Platform/Logout">
                <button id="exitbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-logout"></i></button>
            </a>
        </div>
    </div>
    <!--地图-->
    <div id="map"></div>

    <script>
        var servicesurl = @Html.Raw(Json.Encode(ViewBag.ServicesURL));
        var datasurl = @Html.Raw(Json.Encode(ViewBag.DatasURL));
    </script>

    <script src="~/Apps/common/common.js"></script>
    <script src="~/Apps/common/map.js"></script>>

    <script src="~/Apps/uavfind/js/1-findconfig.js"></script>
    <script src="~/Apps/uavfind/js/2-findpara.js"></script>
    <script src="~/Apps/uavfind/js/3-findprojectlist.js"></script>
    <script src="~/Apps/uavfind/js/4-findproject.js"></script>
    <script src="~/Apps/uavfind/js/5-findprojectauth.js"></script>
    <script src="~/Apps/uavfind/js/6-findroute.js"></script>
    <script src="~/Apps/uavfind/js/7-findheader.js"></script>
    <script src="~/Apps/uavfind/js/8-findvutil.js"></script>

    <script src="~/Apps/common/measure.js"></script>
    <script src="~/Apps/common/mark.js"></script>
    <script src="~/Apps/common/model.js"></script>
</body>
</html>
